<h1>Movie Lists</h1>
<hr>
<% @lists.each do |list| %>
  <p><%= link_to list.name, list %></p>
  <p><%= cl_image_tag list.picture.key, height: 300, width: 400, crop: :fill %>
<% end %>
<hr>
<%= link_to "Create a new movie list", new_list_path %>
