.card {
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  background-color: #ffffff;
}

.card-img-top {
  padding-top: 40px;
}

.card-title.index {
  text-decoration: none;
  font-family: $cursive-font;
  font-size: 1.5em;
  color: #3b6ca0;
  padding: 4px;
  margin: 2px;

  &:hover {
    color: #79AC78;
  }
}

.card-title {
  text-decoration: none;
  font-family: $cursive-font;
  font-size: 1.5em;
  color: #3b6ca0;
  padding: 4px;
  margin: 2px;
}

.card-text {
  font-family: $cursive-font;
  color: #4d4a4a;
}
